<!--Bottom Nav Bar -->
<nav class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container-fluid" style="display: flex; justify-content: center;">
      <h6 class="navbar-text">&copy; Copyright 2024. All Rights reserved</h6>
    </div>
</nav>